/.libs
Makefile
config.log
config.status
libtool
pcre2-config
pcre2_jit_test
pcre2grep
pcre2test
*.pc
*.la
*.lo
*.a
*.o
/src/.deps
/src/.dirstamp
/src/config.h
/src/pcre2.h
/src/pcre2_chartables.c
/src/stamp-h1
